<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
 
    <style>
        .content-wrapper {
            min-height: 200vh; /* ensures enough space before footer */
            padding-bottom: 100px; /* gap before footer */
        }

        footer {
            background-color: #343a40;
            color: #fff;
            text-align: center;
            padding: 15px 0;
        }
    </style>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    SKR International School
                </a>
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       <li class="nav-item">
                            <a class="nav-link text-light" asp-area=""
                               asp-controller="Home"
                               asp-action="Index">
                                Home
                            </a>
                       </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                About
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item"
                                       asp-area=""
                                       asp-controller="Home"
                                       asp-action="displayAboutUs">
                                        About Us
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item"
                                       asp-area=""
                                       asp-controller="Home"
                                       asp-action="displayDirectorMessage">
                                        Director's Desk
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item"
                                       asp-area=""
                                       asp-controller="Student"
                                       asp-action="GetIndividualStudentDetailsByRegistrationId">
                                        Principal's Message
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item"
                                       asp-area=""
                                       asp-controller="Student"
                                       asp-action="GetIndividualStudentDetailsByRegistrationId">
                                        History
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item"
                                       asp-area=""
                                       asp-controller="Student"
                                       asp-action="GetIndividualStudentDetailsByRegistrationId">
                                        Managing Committee
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item"
                                       asp-area=""
                                       asp-controller="Student"
                                       asp-action="GetIndividualStudentDetailsByRegistrationId">
                                        Fee Structure
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item"
                                       asp-area=""
                                       asp-controller="Student"
                                       asp-action="GetIndividualStudentDetailsByRegistrationId">
                                        Infrastructure
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item"
                                       asp-area=""
                                       asp-controller="Student"
                                       asp-action="GetIndividualStudentDetailsByRegistrationId">
                                        Aims and Objectives
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item"
                                       asp-area=""
                                       asp-controller="Home"
                                       asp-action="displayGallery">
                                        Gallery
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="Index">
                                Admission Process
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="Index">
                                Academic Calender
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            

                            <a class="nav-link dropdown-toggle"
                              
                               role="button"
                               data-bs-toggle="dropdown"
                               id="myDropdown"
                               aria-expanded="false">
                                Student Corner
                            </a>

                         @*    <ul class="dropdown-menu dropdown-menu-dark">
                                <li>
                                    <a class="dropdown-item" href="/Admin/GetStudentDetails" asp-area="" asp-controller="Admin" asp-action="GetStudentDetails">All Student Details</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" asp-area="" href="/Admin/GetStudentDetailsByRegistrationId" asp-controller="Admin" asp-action="GetStudentDetailsByRegistrationId">Individual Student Details</a>
                                </li>
                                
                                <li>
                                    <a class="dropdown-item" asp-area="" href="/Admin/GetAllDetails" asp-controller="Admin" asp-action="GGetAllDetails">Consolidated Views</a>
                                </li>
                            </ul> *@

                         

                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Student" asp-action="GetStudentDetails">All Student Details</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Student" asp-action="GetIndividualStudentDetailsByRegistrationId">Individual Student Details</a>
                                </li>

             
                            </ul>


                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               role="button"
                               data-bs-toggle="dropdown"
                               id="myDropdown"
                               aria-expanded="false">
                                Educator Corner
                            </a>

                            <ul class="dropdown-menu dropdown-menu-dark">
                                
                              <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Educator" asp-action="GetEducatorDetails">Educator Details</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Educator" asp-action="GetIndividualEducatorDetailsByRegistrationId">Individual Educator Details</a>
                                </li>
                                

                            </ul>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link text-light"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="Index">
                                Alumni
                            </a>
                        </li>
                     
                      </ul>
                    </div>
                        <a class="btn me-3 bg-light text-dark"
                           asp-area=""
                           asp-controller="Student"
                           asp-action="GetIndividualStudentDetailsByRegistrationId">
                            Login
                        </a>

                        <a class="btn me-3 bg-light text-dark"
                           asp-area=""
                           asp-controller="Educator"
                           asp-action="GetEducatorDetails">
                            Register
                        </a>
                </div>

            </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    @await RenderSectionAsync("Scripts", required: false)
    
    <!-- Copyright Section -->
    <footer>
        <small>&copy; 2026 SKR International School. All rights reserved.</small>
    </footer>

    @* <div class="container-fluid bg-dark text-white py-2">
        <div class="row">
            <div class="col text-center">
                <small>&copy; 2026 SKR International School. All rights reserved.</small>
            </div>
        </div>
    </div> *@

    

    </body>
</html>
